@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 320px;
    background-color: white;
    display: absolute;
    flex-direction: column;
    box-shadow: 15px 0 30px -5px lightgrey;  
}
.container {
    width: 320px;
    height: 100vh;
}
.head {
    margin: 0 auto;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 80%;
}
.btn:hover {
    transform: scale(1.1);
}

.icon {
    align-self: center;
}

.head__logo {
    margin-right: 70px;
    margin-left: 2%;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%; 
}
.head__btn2 {
margin-right: 24px;
}
.head__btn1 {
    margin-left: 24px;
}
.menu__btn {
    font-family: 'TTLakes';
    color: #1B1C21;
    font-size: 17px;
    margin: 3% 0 5% 0;
    border: 0;
    background-color: white;
    margin-left: 24px;
}
.menu__btn:hover {
    opacity: 50%;
}

.menu__btn-test {
    display: flex; 
    align-items: center;
}

.menu__btn-test:active {
    visibility: visible;

}


.hidden-el {
    visibility: hidden;
}

.buttons {
    margin-top: 20%;
    margin-left: 20px;
    margin-right: 144px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contact {
    display: flex;
    color: #1B1C21;
    margin-left: 24px;
    margin-top: 5%;
    flex-wrap: wrap;
}
.email {
    font-family: 'TTLakes';
    font-size: 16px;
    width: 100%;
    text-decoration: none;
    color: #1B1C21;
}
.contact__phone {
    margin-top: 2%;
    font-size: 24px;
    line-height: 32px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.languages__btn {
    font-family: 'TTLakes';
    color: #1B1C21;
    font-size: 16px;
    margin: 3% 0 5% 5%;
    border: 0;
    background-color: white;
    padding-bottom: 5%;

}
    
.languages__btn:hover {
    opacity: 50%;
}
